@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-body {
  padding: 0.5rem calc((100vw - 1200px) / 2);
  height: fit-content;
}

.page-body {
  padding: 1rem calc((100vw - 1200px) / 2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.check-status {
  width: fit-content;
}
.user-card {
  background-color: #a8b4bc;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    z-index: 10;
  }
}

.head-login {
  display: flex;
  justify-content: flex-end;

  .head-login-btn {
    height: fit-content;
    align-self: center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2rem;

  Button {
    margin-left: 10px;
  }

  p {
    font-size: 20px;
  }
}

.head-nav {
  .link {
    text-decoration: none;
    color: black;
  }
}
